{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env":{
    "node":true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "implicit-arrow-linebreak": [0],
    "function-paren-newline": [0],
    "arrow-parens": [2, "always"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}